:root {
    /* Add variables */
}

body {
    /* Fonts & Colors */
    background-color: #0c1014;
    font-family: 'Roboto';
    color: #e6eaef;

    /* Display */
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

/* HEADER */
header .title {
    font-size: 40px;
    margin: 16px;
}

/* MAIN */
main {
    display: flex;
    gap: 32px;
}

.grid-container {
    user-select: none;
    background-color: #e6eaef;
    border-radius: 10px;
    display: flex;
}

.grid-container .pixelContainer {
    user-select: none;
    display: flex;
    flex-direction: row;
}

.grid-container .pixel {
    user-select: none;
    border: 1px solid black;
}

.right-panel {
    background-color: #2b2c2e;
    padding: 20px;
    width: 120px;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.right-panel button,.right-panel input {
    flex: 1;
    border: none;
    border-radius: 10px;
    background-color: #a8a8a8;
    opacity: 0.6;
    width: 80px;
    transition: 0.3s;
}

.right-panel #currentColor {
    border: 3px solid #a8a8a8;
}

.right-panel button {
    align-self: center;
}

.right-panel input {
    width: auto;
}

.right-panel button:hover, .right-panel input:hover {
    opacity: 1;
}

.right-panel button:hover {
    width: 86px;
}

.right-panel button img {
    width: 64px
}

/* FOOTER */
footer {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}
footer .github-icon {
    width: 24px;
    transition: 0.3s;
}
footer .github-icon:hover {
    rotate: 360deg;
}